*.sw*
*~
*#
.#*

/var/
/modules/
/.tmp/
/keyrings/live/secring.gpg
/hieradata/common.yaml
/local-modules/app/files/ssh/mosh.hosts
/local-modules/app/files/ssh/ssh.hosts
/local-modules/config/files/hosts
