*.sw*
*~
*#
.#*

/var/
/modules/
/.tmp/
/.librarian/
/keyrings/live/secring.gpg
/hieradata/common.yaml
/local-modules/app/files/ssh/mosh.hosts
/local-modules/app/files/ssh/ssh.hosts
/local-modules/config/files/hosts
/hieradata/node/debbie.yaml
/hieradata/node/archie.yaml
/local-modules/config/files/proxy.tar.bz2
